/* Styling for the navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-inline: 1.5em;
}

/* Styling for the text within the navigation bar */
nav span {
  font-family: 'Bungee', cursive;
  padding-top: 1.5em; 
}

/* Styling for the icon within the navigation bar */
.icon {
  color: rgb(184, 49, 49);
  font-size: medium;
  align-self: center;
}

/* Styling for the "Write New" section */
.write-new {
  display: flex;
  flex-flow: column wrap;
  margin: 0.7em;
  max-height: 5rem;
}

/* Styling for the text within the "Write New" section */
.write-new p {
  margin-block: 0;
}